
body {
	font-family: Verdana;
	font-size: 12px;
}

p {
	margin-top: 0;
}

table {
    border-collapse: collapse; 
}

table td, table th {
    padding: 0; 
}

#banner {
	background: url(../assets/images/jresponder-logo.png) transparent no-repeat top left;
	width: 960px;
	height: 60px;
	margin: 0 auto 10px;
}

#main {
    width: 920px;
    margin: 0 auto;
    border: 2px solid #eee;
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.signup-table td {
	padding-bottom: 5px;
}

.signup-table .label {
	width: 100px;
	text-align: right;
	padding-right: 5px;
}

.message {
	margin-bottom: 10px;
	border: 1px solid #eee;
	background: #ffedbd;
	padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.message.activity-message {
	background: #eee;
}
