
body {
	font-family: Verdana;
	font-size: 12px;
}

p {
	margin-top: 0;
}

#banner {
	background: url(../assets/images/jresponder-logo.png) transparent no-repeat top left;
	width: 960px;
	height: 60px;
	margin: 0 auto 10px;
}

#main {
    width: 920px;
    margin: 0 auto;
    border: 2px solid #eee;
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

