<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
    profile="webapp"
    >
    <!-- NOTE: profile="webapp" above makes it so this file does
         not get read in standalone mode - standalonen apps define
         their own message groups -->
 
    <bean id="jrMessageGroupSource" class="org.jresponder.message.MessageGroupSourceImpl">
        <property name="directory" value="${jresponder.webapp.root}/WEB-INF/sample-messages"/>
    </bean>
 
</beans>