<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

    <display-name>jresponder-web</display-name>
    
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>jresponder.webapp.root</param-value>
    </context-param>
    
    <listener>
        <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
    </listener>
    
    <!-- load Spring context -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!-- this can be comma separated if need be... -->
        <param-value>
            /WEB-INF/applicationContext.xml,
            /WEB-INF/applicationContext-*.xml
        </param-value>
    </context-param>
    
    <!-- Spring configuration with standalone support -->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.jresponder.standalone.JrXmlWebApplicationContext</param-value>
    </context-param>

    <listener>
        <listener-class>org.jresponder.standalone.JrContextLoaderListener</listener-class>
    </listener>
    
    <!-- Spring Web MVC servlet -->
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <!--  contextConfigLocation -->
        <servlet-name>action</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>
    
    <!-- Spring Security -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
 
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- this just came along for the ride -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>